.card{
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    width: 30vw;
    padding: 10px;
}

.product-category {
    font-size: 12px;
    text-align: left;
}
.product-image {
    width: 120px;
    margin: auto;
}
img {
    width: 200px;
}
h3, h2, p {
    margin: 5px;
}
.product-title {
    font-size: 16px;
}
button{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
}